/* Add your CSS styling for the WiFi User Manager app here */
#mainPart {
  border: 1.5px solid black;
  background-image: url(images/back.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  filter: (0.7);
}

/* Styling for Images */
#wifiImage {
  width: auto;
  height: 70%;
  border: 1px solid black;
  position: absolute;
  top: 18%;
  left: 2%;
  margin-right: auto;
  padding: 0%;
}
#phoneImage {
  width: auto;
  height: 70%;
  border: 1px solid black;
  position: absolute;
  top: 18%;
  left: 36%;
  margin-right: auto;
  padding: 0%;
}

#settingImage {
  width: auto;
  height: 70%;
  border: 1px solid black;
  position: absolute;
  top: 18%;
  left: 69%;
  margin-right: auto;
  padding: 0%;
}

#helpImage {
  width: auto;
  height: 70%;
  border: 1px solid black;
  position: absolute;
  top: 18%;
  left: 94%;
  margin-right: auto;
  padding: 0%;
}
/* Styling for Styling for header */
#topsection {
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
   border: 1px solid black;
   box-sizing: border-box;
  padding: 2.5%;
  background-color: #e863ec;
}
/* Styling for heading1 section */
#heading1 {
  width: 100%;
  height: auto;
   border: 1px solid black;
  padding: 2.5%;
  background-color: #111111;
  color: aliceblue;
  text-align: center;
  font-size: 300%;
}
/* Styling for services corner */
#services1 {
  width: 20%;
  height: auto;
  border: 1px solid black;
  padding: 0;
  background-color: #e6cece;
  color: darkgreen;
  text-align: center;
  font-size: medium;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0;
}
/* Styling for users */
#users {
  width: 20%;
  height: auto;
  border: 1px solid black;
  padding: 0;
  background-color: hsl(286, 64%, 74%);
  color: black;
  text-align: left;
  font-size: medium;
  margin-left: 0%;
  margin-right: auto;
  border-radius: 0%;
  margin-top: 0%;
}
/* Styling for online clients */
#connectedClients {
  width: 20%;
  height: auto;
  border: 1px solid black;
  padding: 0;
  background-color: #e6cece;
  color: darkgreen;
  text-align: center;
  font-size: medium;
  margin-left: 0%;
  margin-right: auto;
  border-radius: 0%;
  margin-top: 5%;
}

/* Styling for Admin corner */
#isAdmin {
  width: 20%;
  height: auto;
  border: 1px solid black;
  padding: 0;
  background-color: #e6cece;
  color: darkgreen;
  text-align: center;
  font-size: medium;
  margin-left:auto;
  margin-right: 0%;
  border-radius: 0%;
  margin-top: 0%;
}
/* Styling for footer */
footer {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}

footer p {
  margin: 5px 0;
  font-size: 14px;
  color: #666;
}

footer p:first-child {
  margin-top: 0;
}

footer p:last-child {
  margin-bottom: 0;
  font-style: italic;
}